<!DOCTYPE html>
<html>
<head>
    <title>forget my ex</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>
</head>
<body>
    <div id="app" class="app">
        <div class="app-sidebar">
            <div class="app-sidebaer-header">
                <img src="http://graph.facebook.com/{{ request.user.facebook_id }}/picture?type=square" class="user-profile-image">
                <img src="{{ STATIC_URL }}img/logo-small.png" class="app-logo">
            </div>

            <div class="app-sidebar-section">
                <p class="app-sidebar-title">Find my ex</p>
                <div class="ex-search">
                    <img src="{{ STATIC_URL }}img/profile-ex-image.png">
                    <div class="ex-info">
                        <p class="ex-username"></p>
                        <a href="#">Search / Change</a>
                    </div>
                </div>
            </div>

            <div class="app-sidebar-section">
                <p class="app-sidebar-title">See common</p>
                <ul class="app-nav">
                    <li><a href="#" data-section="mutual-friends">Friends <span class="count">0</span></a></li>
                    <li><a href="#" data-section="mutual-likes">Likes <span class="count">0</span></a></li>
                    <li><a href="#" data-section="mutual-photos">Photos <span class="count">0</span></a></li>
                    <li><a href="#" data-section="mutual-posts">Posts <span class="count">0</span></a></li>
                    <li><a href="#" data-section="mutual-comments">Comments <span class="count">0</span></a></li>
                </ul>
            </div>

             <div class="app-sidebar-section">
                <p class="app-sidebar-title">Options</p>
                <ul>
                    <li><a href="{% url 'accounts_logout' %}">Logout</a></li>
                </ul>
            </div>

            <div class="app-sidebar-section">
                <ul>
                    <li><div class="fb-like" data-href="http://forgetmyex.net/" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div></li>
                    <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://forgetmyex.net/" data-text="Forget your ex on facebook.">Tweet</a></li>
                </ul>
            </div>
        </div>
        <div class="app-content">
            <div class="app-view">
                <img src="{{ STATIC_URL }}img/ajax-loader.gif" class="loader all">
                <div class="app-view-section" data-section="mutual-friends">
                    <h2>Mutual Friends</h2>
                    <img src="{{ STATIC_URL }}img/reload.png" class="reload friends">
                    <ol id="mutual-friends-list" class="list-style-1 friends-list">

                    </ol>
                </div>

                <div class="app-view-section" data-section="mutual-likes">
                    <h2>Mutual Likes</h2>
                    <img src="{{ STATIC_URL }}img/reload.png" class="reload likes">
                    <ol id="mutual-likes" class="list-style-1 likes-list">

                    </ol>
                </div>

                <div class="app-view-section" data-section="mutual-photos">
                    <h2>Mutual Photos</h2>
                    <img src="{{ STATIC_URL }}img/reload.png" class="reload photos">
                    <ul id="mutual-photos" class="list-style-1 photos-list">

                    </ul>
                </div>

                <div class="app-view-section" data-section="mutual-posts">
                    <h2>Mutual Posts</h2>
                    <img src="{{ STATIC_URL }}img/reload.png" class="reload posts">
                    <div id="from-me-in-friend">
                    </div>

                    <div id="from-friend-in-me">
                    </div>

                    <div id="from-me-tagging-friend">
                    </div>

                    <div id="from-friend-tagging-me">
                    </div>
                </div>

                <div class="app-view-section" data-section="mutual-comments">
                    <h2>Mutual Comments</h2>
                    <img src="{{ STATIC_URL }}img/reload.png" class="reload comments">
                    <div id="comments-from-me">
                    </div>

                    <div id="comments-from-friend">
                    </div>
                </div>
            </div>
        </div>

        <div class="app-splash">

        </div>

        <div class="full-el app-overlay"></div>
        <div class="app-modal modal-find-ex">
            <div class="app-modal-header">
                <h3 class="title">Find your ex</h3>
                <div>
                    <label for="seach">Search:</label>
                    <input type="text" id="search">
                </div>
            </div>
            <div class="app-modal-content">
                <img src="{{ STATIC_URL }}img/ajax-loader.gif" class="loader">
                <ul id="friends-list"class="user-list-modal">
                </ul>
            </div>
            <div class="app-modal-footer button-right">
                <button class="button">close</button>
            </div>
        </div>
    </div>

    {% include "js_templates.html" %}

    <script src="{{ STATIC_URL }}js/libs/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/libs/latinize.js"></script>
    <script src="{{ STATIC_URL }}js/app/init.js"></script>
    <script src="{{ STATIC_URL }}js/app/models.js"></script>
    <script src="{{ STATIC_URL }}js/app/collections.js"></script>
    <script src="{{ STATIC_URL }}js/app/views.js"></script>
    <script src="{{ STATIC_URL }}js/app/main.js"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=551248321618177";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44399398-1', 'forgetmyex.net');
      ga('send', 'pageview');

    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
