<!DOCTYPE html>
<html>
<head>
    <title>forget my ex</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
</head>
<body>
    <div id="app" class="app">
        <div class="app-sidebar">
            <div class="app-sidebaer-header">
                <img src="http://graph.facebook.com/{{ request.user.facebook_id }}/picture?type=square" class="user-profile-image">
                <img src="{{ STATIC_URL }}img/logo-small.png" class="app-logo">
            </div>

            <div class="app-sidebar-section">
                <p class="app-sidebar-title">Find my ex</p>
                <div class="ex-search">
                    <img src="{{ STATIC_URL }}img/profile-ex-image.png">
                    <div class="ex-info">
                        <p class="ex-username"></p>
                        <a href="#">Search / Change</a>
                    </div>
                </div>
            </div>

            <div class="app-sidebar-section">
                <p class="app-sidebar-title">See common</p>
                <ul>
                    <li><a href="#" data-section="mutual-friends">Friends <span class="count">0</span></a></li>
                    <li><a href="#" data-section="mutual-likes">Likes <span class="count">0</span></a></li>
                    <li><a href="#" data-section="mutual-photos">Photos <span class="count">0</span></a></li>
                    <li><a href="#" data-section="mutual-posts">Posts <span class="count">0</span></a></li>
                </ul>
            </div>

             <div class="app-sidebar-section">
                <p class="app-sidebar-title">Options</p>
                <ul>
                    <a href="{% url 'accounts_logout' %}">Logout</a>
                </ul>
            </div>
        </div>
        <div class="app-content">
            <div class="app-view">
                <div class="app-view-section" data-section="mutual-friends">
                    <h2>Mutual Friends</h2>
                    <ol id="mutual-friends-list" class="list-style-1 friends-list">

                    </ol>
                </div>

                <div class="app-view-section" data-section="mutual-likes">
                    <h2>Mutual Likes</h2>
                    <ol id="mutual-likes" class="list-style-1 likes-list">

                    </ol>
                </div>

                <div class="app-view-section" data-section="mutual-photos">
                    <h2>Mutual Photos</h2>
                    <ul id="mutual-photos" class="list-style-1 photos-list">

                    </ul>
                </div>

                <div class="app-view-section" data-section="mutual-posts">
                    <h2>Mutual Posts</h2>

                    <div id="from-me-in-friend">
                    </div>

                    <div id="from-friend-in-me">
                    </div>

                    <div id="from-me-tagging-friend">
                    </div>

                    <div id="from-friend-tagging-me">
                    </div>
                </div>
            </div>
        </div>

        <div class="app-splash">

        </div>

        <div class="full-el app-overlay"></div>
        <div class="app-modal modal-find-ex">
            <div class="app-modal-header">
                <h3 class="title">Find your ex</h3>
            </div>
            <div class="app-modal-content">
                <label for="seach">Search:</label>
                <input type="text" id="search">
                <img src="{{ STATIC_URL }}img/ajax-loader.gif" class="loader">
                <ul id="friends-list"class="user-list-modal">
                </ul>
            </div>
            <div class="app-modal-footer button-right">
                <button class="button">ok</button>
            </div>
        </div>
    </div>

    {% include "js_templates.html" %}

    <script src="{{ STATIC_URL }}js/libs/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/libs/latinize.js"></script>
    <script src="{{ STATIC_URL }}js/app/init.js"></script>
    <script src="{{ STATIC_URL }}js/app/models.js"></script>
    <script src="{{ STATIC_URL }}js/app/collections.js"></script>
    <script src="{{ STATIC_URL }}js/app/views.js"></script>
    <script src="{{ STATIC_URL }}js/app/main.js"></script>
</body>
</html>
