<!DOCTYPE html>
<html>
<head>
    <title>Django Dash 2013</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
</head>
<body>
<h1>forgetmyex.net</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message.tags }}: {{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated %}
    	{{ request.user.get_full_name }}
    {% endif %}

    <a href="https://graph.facebook.com/oauth/authorize?client_id={{ FACEBOOK_APP_ID }}&redirect_uri={{ FACEBOOK_REDIRECT_URI }}&scope={{ FACEBOOK_SCOPES }}">Facebook Login</a>
    <div id="app">
        <section id="frind-select">
            <h2>Friend Select</h2>
            <form action=".">
                <ol id="frinds-list">

                </ol>
                <button type="submit">select</button>
            </form>
        </section>
    </div>

    <script type="text/template" id="friends-list-template">
    <% _.each(friends, function(friend) { %>
    <li><input type="radio" name="friend" id="friend_id_<%= friend.uid %>"><label for="friend_id_<%= friend.uid %>"><%= friend.name %></label></li>
    <% }); %>
    </script>

    <script src="{{ STATIC_URL }}js/libs/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/app/init.js"></script>
    <script src="{{ STATIC_URL }}js/app/models.js"></script>
    <script src="{{ STATIC_URL }}js/app/collections.js"></script>
    <script src="{{ STATIC_URL }}js/app/views.js"></script>
    <script src="{{ STATIC_URL }}js/app/main.js"></script>
</body>
</html>
