<script type="text/template" id="friends-list-template">
    <% _.each(friends, function(friend) { %>
        <li data-name="<%= friend.name %>" class="transition">
            <input type="radio" value="<%= friend.uid %>" name="friend" id="friend_id_<%= friend.uid %>">
            <label for="friend_id_<%= friend.uid %>">
                <img src="http://graph.facebook.com/<%= friend.uid %>/picture/?type=square"><%= friend.name %>
            </label>
        </li>
    <% }); %>
</script>

<script type="text/template" id="mutual-friends-list-template">
    <% _.each(friends, function(friend) { %>
        <li>
            <a href="<%= friend.profile_url %>" target="_blank">
                <div class="image"><img src="<%= friend.pic %>" alt="<%= friend.name %>" title="<%= friend.name %>"></div>
                <span class="username"><%= friend.name %></span>
            </a>
        </li>
    <% }); %>
</script>

<script type="text/template" id="mutual-photos-template">
    <% _.each(photos, function(photo) { %>
        <li>
            <a href="<%= photo.link %>" target="_blank">
                <img src="<%= photo.src_small %>" title="<%= photo.caption %>" alt="<%= photo.caption %>">
            </a>
        </li>
    <% }); %>
</script>

<script type="text/template" id="mutual-likes-template">
    <% _.each(likes, function(like) { %>
        <li>
            <a href="<%= like.page_url %>" target="_blank">
                <img class="image" src="<%= like.pic_square %>" alt="">
                <span class="name"><%= like.name %><span>
            </a>
        </li>
    <% }); %>
</script>

<script type="text/template" id="mutual-posts-template">
    <% if(posts.length) { %>
        <h3><%= sectionTitle %></h3>
        <ul id="mutual-posts" class="list-style-1 post-list">
            <% _.each(posts, function(post) { %>
            <li>
                <a href="<%= post.permalink %>" target="_blank">
                    <%= post.message.replace(/\n/igm, '<br>') %>
                </a>
            </li>
            <% }); %>
        </ul>
    <% } %>
</script>

<script type="text/template" id="mutual-comments-template">
    <% if(comments.length) { %>
        <h3><%= sectionTitle %></h3>
        <ul class="list-style-1 post-list">
            <% _.each(comments, function(comment) { %>
            <li>
                <a href="<%= comment.permalink %>" target="_blank">
                    <%= comment.text.replace(/\n/igm, '<br>') %>
                </a>
            </li>
            <% }); %>
        </ul>
    <% } %>
</script>
