html, body{
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Ubuntu', sans-serif;
	color: #666;
	font-size: 14px;
	background: url(../img/bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a{
	color: #888888;
}

a:hover{
	color: #888;
}

.transition {
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

input[type="text"]{
	border: 0;
	padding: 10px;
}

.button{
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 10px 30px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	background: #929292;
	color: #fff;
}

.button:hover{
	background-color: #666;
}

.button-left,
.button-right{
	overflow: hidden;
}

.button-left .button{
	float: left;
}

.button-right .button{
	float: right;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

.full-el{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.ir{
	text-indent: -9999px;
	font-size: 1px;
	line-height: 0;
}

.app{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.app-logo{
	padding: 0 0 0 10px;
}

.app-sidebaer-header{
	padding-top: 10px;
	margin-bottom: 10px;
}

.app-sidebaer-header img{
	vertical-align: middle;
}

.app-sidebaer-header .user-profile-image{
	padding-left: 10px;
}

.app-sidebar{
	position: fixed;
	left: 0;
	top: 0;
	width: 280px;
	height: 100%;
	background-color: rgba(221, 221, 221, 0.5);
	z-index: 1;
}

.app-content{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-left: 280px;
}

.app-view{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	overflow-y:scroll;
}

.app-view-title{
	padding-bottom: 30px;
}

.app-view-content{
	padding: 0 15px;
}

.app-view-section{
    display: none;
    padding-bottom: 30px;
}

.app-sidebar-title{
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 20px;
}

.app-sidebar-section{
	padding: 15px 30px;
}

.app-sidebar-section li{
	padding-bottom: 10px
}

.app-sidebar-section .count{
	display: inline-block;
    opacity: 0;
	color: #fff;
	background: red;
	padding: 5px;
	border-radius: 100%;
	font-size: 12px;
	margin-left: 10px;
	min-width: 12px;
	min-height: 12px;
	text-align: center;
}

.app-intro-text{
	font-size: 20px;
}

.app-intro-text p{
	line-height: 1.4em;
}

.app-splash{
	 background: #fff;
}

.app-splash .wrapper{
	width: 600px;
}

.ex-search img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.ex-search .ex-info{
	display: inline-block;
	vertical-align: middle;
}

.ex-search .ex-username{
	padding-bottom: 10px;
	font-weight: 700;
    max-width: 155px;
}

.app-view h1{
	font-size: 30px;
	font-weight: 700;
}

.app-view h2{
	font-size: 26px;
	font-weight: 700;
    margin-bottom: 30px;
}

.app-view h3{
	font-size: 22px;
	font-weight: 700;
    margin-bottom: 20px;
}

.app-view h4{
	font-size: 18px;
	font-weight: 700;
}

.app-view h5, .app-view h6{
	font-size: 16px;
	font-weight: 700;
}

.app-view-title{
	font-size: 20px;
	font-weight: 700;
}

/* show modals */
body.show-modal-ex .app-overlay{
	display: block;
}

body.show-modal-ex .modal-find-ex{
	display: block;
}

.app-overlay{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	display: none;
}

.app-modal{
	display: none;
	position: fixed;
	z-index: 3;
	width: 500px;
	left: 50%;
	top: 100px;
	margin-left: -250px;
	background-color: #fff;
	box-shadow: 4px 5px 1px 0px rgba(0, 0, 0, 0.3);
}

.app-modal-header{
	border-bottom: 1px solid #ddd;
    height: 37px;
}

.app-modal-footer{
	border-top: 1px solid #ddd;
}

.app-modal-header,
.app-modal-footer,
.app-modal-content{
	padding: 20px;
}

.app-modal-content{
	max-height: 200px;
	overflow-y:scroll;
    clear: both;
}

.app-modal-header .title{
	font-size: 26px;
	font-weight: 700;
    float: left;
    margin-top: 7px;
}

.app-modal-header > div {
    float: right;
}

.user-list-modal li{
	padding: 10px 0;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: #eff2f6;
}

.user-list-modal li:hover{
    background-color: #f0f5fc;
}

.user-list-modal li img{
    margin-right: 10px;
}

.user-list-modal li input {
    display: none;
}

.user-list-modal label,
.user-list-modal input,
.user-list-modal img{
	vertical-align: middle;
}

.user-list-modal label{
	cursor: pointer;
}

.list-style-1 li{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.list-style-1 li:hover{
    background: rgba(255, 255, 255, 0.9);
}

.friends-list{
    overflow: hidden;
}

.friends-list li{
    float: left;
    width: 150px;
    height: 180px;
    text-align: center;
    margin: 5px 5px;
}

.friends-list a{
    display: block;
    text-decoration: none;
}

.friends-list a:hover{
    color: #666;
}

.friends-list .image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
}

.friends-list .username{
    display: block;
    text-align: center;
    font-weight: 700;
}

.likes-list{
    overflow: hidden;
}

.likes-list li{
    margin: 0 10px 10px;
    float: left;
    width: 250px;
    max-height: 90px;
}

.likes-list li a{
    text-decoration: none;
}

.likes-list li .name{
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    max-width: 140px;
    font-size: 12px;
}

.likes-list li .image{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.photos-list a{
    display: block;
}

.photos-list li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 10px 0;
}

.post-list li{
    margin-bottom: 10px;
}

#search {
    border: 1px solid #ddd;
    width: 200px;
    border-radius: 5px;
}

.app-modal-content .loader {
    display: block;
    margin: 20px auto;
}

.reload {
    position: absolute;
    top: 25px;
    right: 60px;
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 29px;
    right: 63px;
    display: none;
}
